input.cool-input {
    outline: none;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    color: rgb(66, 66, 66);
    background: #fcfcfc;
    border-radius: 5px;
    border: .5px solid rgba(88, 46, 136, 0.39);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);
    width: 20em;

    &::placeholder {
        color: rgb(160, 160, 160);
     }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error {
    color: rgb(163, 5, 5);
    margin-left: .6em;
}

.render {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 2em;

    .fibonacci {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(82, 42, 128);
        margin: 0 2px;
        padding: .5em;
        transition: .3s;
        position: relative;

        label {
            &.item {
                color: #f1f1f1;
                font-weight: bold;
                transition: .3s;
            }

            &.porcentage {
                color: #313131;
                position: absolute;
                top: -2em;
                transition: .1s ease-in-out;
                visibility: hidden;
                font-size: .9em;
            }
        }

        &:hover {
            background-color: rgb(95, 46, 150);
            label {
                &.item {
                    color: #f8f8f8;
                    font-size: 1.3em;
                }

                &.porcentage {
                    visibility: visible;
                }
            }
        }
    }
}
