<h2>Fibonacci</h2>
<input [(ngModel)]="numero" (keyup)="fibonacci()" type="number" placeholder="Escribe un número positivo" class="cool-input">
<label class="error"> {{ error }} </label>
<div class="render">
    <div *ngFor="let item of content" class="fibonacci" [ngStyle]="{'width': width, 'height': displayHeight(item)}">
        <label class="porcentage">Altura: {{ calcHeight(item) }}%</label>
        <label class="item">{{ item }}</label>
    </div>
</div>