<nav>
    <ul>
        <li>
            <a [routerLink]="['rectangulares']">Números Rectangulares</a>
        </li>
        <li>
            <a [routerLink]="['fibonacci']">Fibonacci</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>