nav {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 4em;
    background-color: rgb(82, 42, 128);

    ul {
        margin: 0 1.5em;
        
        li {
            display: inline-block;
            order: 1px solid red;
            cursor: pointer;

            a {
                text-decoration: none;
                padding: 1.3em;
                color: #f0f0f0;
                transition: .1s ease-in-out;

                &:hover {
                    background-color: rgb(63, 31, 100);
                }
            }
        }
    }
}

.container {
    margin: 2em 5em;
}