  <h2>Lados de un triángulo rectángulo que sumados sean igual a 1000</h2>
  <p>
    <b>Cateto A:</b> {{ catetoA }} </p>
  <p>
    <b>Cateto B:</b> {{ catetoB }} </p>
  <p>
    <b>Hipotenusa:</b> {{ hipotenusa }} </p>
  <p>
    {{ catetoA }}^2 + {{ catetoB }}^2 =
    <b>{{ hipotenusa }}^2</b>
  </p>

  <p>
    {{ catetoA }} + {{ catetoB }} + {{ hipotenusa }} =
    <b>{{ catetoA + catetoB + hipotenusa }}</b>
  </p>
